@model TeacherQualityReview.Models.Subgroup

@{
    ViewBag.Title = "Delete";
}

<h2>Quản lý bộ môn</h2>

<h3>Bạn có chắc muốn xóa?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Tên bộ môn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubgroupName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Danh sách", "Index")
        </div>
    }
</div>
