@model TeacherQualityReview.Models.Teacher

@{
    ViewBag.Title = "Delete";
}

<h2>Quản lí giảng viên</h2>

<h3>Bạn có chắc muốn xóa?</h3>
<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="dl-horizontal">
     
        <dt>
            @Html.DisplayNameFor(model => model.TeacherName)
        </dt>

   

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Danh sách", "Index")
        </div>
    }
</div>
