@charset "utf-8";
/* CSS Document */
.fond{position:absolute;padding-top:85px;top:0;left:0; right:0;bottom:0;
 background-color:#00506b;}
.imgGV{
    padding-bottom:10px;
}
.style_prevu_kit
{
    display:inline-block;
    border:0;
   
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}
.style_prevu_kit:hover
{
    
    z-index: 1.1;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}
body {
    font-family: Arial,Verdana,Helvetica;
    font-size: 11px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    position: absolute;
    width: 100%;
    background-image: url(/Content/Home/images/default/bg_body.gif);
    background-repeat: repeat-x repeat-y;
    line-height: 1.4;
}

td, th {
    font-family: Arial,Verdana,Helvetica;
    font-size: 12px;
}

table {
    font-family: Arial,Verdana,Helvetica;
    font-size: 11px;
    text-decoration: none;
    text-align: left;
    border-spacing: 0;
}

.text {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-decoration: none;
}

.text1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: inherit;
    font-size: 12px;
    text-decoration: none;
}

.text2 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: inherit;
    font-size: 11px;
    text-decoration: none;
}

.language {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.login {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

    .login:hover {
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        text-decoration: underline;
    }

.line {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.language:hover {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.menubar {
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
}

    .menubar:hover {
        color: #ffffff;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        display: block;
        text-decoration: underline;
    }

.submenubar {
    color: #636363;
    font-weight: bold;
    text-align: left;
}

    .submenubar:hover {
        color: #FF9B01;
        font-weight: bold;
        text-align: left;
    }

.menuleft {
    text-align: left;
    color: #ffffff;
}

    .menuleft:hover {
        text-align: left;
        color: #ffffff;
    }

.menubot {
    color: #515151;
    text-align: center;
    text-transform: uppercase;
}

    .menubot:hover {
        color: #515151;
        text-align: center;
        text-transform: uppercase;
        text-decoration: underline;
    }

.menu_bo_mon {
    color: #414141;
    text-align: left;
    font-weight: bold;
}

    .menu_bo_mon:hover {
        color: #414141;
        text-align: left;
        font-weight: bold;
    }

.menu_bo_mon_top {
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

    .menu_bo_mon_top:hover {
        color: #ffffff;
        text-align: left;
        font-weight: bold;
        text-decoration: underline;
    }

.menu_bo_mon_right {
    color: #FF5A00;
    text-align: left;
    font-weight: bold;
}

    .menu_bo_mon_right:hover {
        color: #FF5A00;
        text-align: left;
        font-weight: bold;
        text-decoration: underline;
    }

.menu_admin_bar {
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: bottom;
    padding-bottom: 8px;
}

    .menu_admin_bar:hover {
        color: #000000;
        font-weight: bold;
        text-transform: uppercase;
        vertical-align: bottom;
        padding-bottom: 8px;
        text-decoration: underline;
    }

.span {
    color: #515151;
    text-align: center;
}
/*.title{color:#FF8A00;font-weight:bold;text-align:left;text-transform:uppercase;}*/
.title {
    color: #FF9000;
    font-weight: bold;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-style: inherit;
    font-size: 12px;
    text-decoration: none;
    padding-bottom: 6px;
    padding-top: 5px;
    text-transform: uppercase;
}

.title_left {
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 10px;
    text-align: left;
}

.news {
    color: #2A2A2A;
    text-align: left;
}

    .news:hover {
        color: #2A2A2A;
        text-align: left;
        text-decoration: underline;
    }

.title_right {
    color: #000000;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
    text-transform: uppercase;
}

.title_center {
    color: #ffffff;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}

.title_center_ad {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.title_google {
    color: #ffffff;
    font-weight: bold;
    text-align: left;
}

.title_new_home {
    color: #4F4F4F;
    text-align: left;
    font-weight: bold;
}

    .title_new_home:hover {
        color: #4F4F4F;
        text-align: left;
        text-decoration: underline;
        font-weight: bold;
    }

.title_new_small {
    color: #4F4F4F;
    text-align: left;
}

    .title_new_small:hover {
        color: #FF9B00;
        text-align: left;
        text-decoration: underline;
    }

.title_hot_new {
    color: #4F4F4F;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
}

    .title_hot_new:hover {
        color: #4F4F4F;
        text-align: left;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: underline;
    }

.title_new_detail {
    color: #FF9000;
    font-weight: bold;
    text-align: left;
}

.content {
    color: #616161;
    text-align: justify;
}

.path {
    color: #FF9C00;
}

.online {
    color: #F3B12B;
    font-weight: bold;
    text-align: left;
}

.copyright {
    color: #6B6B6B;
    text-align: leftl;
}

.search {
    color: #676767;
    text-align: left;
    border: 0px;
    background-color: #FAFAFA;
    width: 200px;
}

.find {
    background-color: #464040;
    text-align: left;
    color: #AAAAAA;
    border: 0px;
}

.order {
    color: #C7C7C7;
    text-align: right;
}

.order1 {
    color: #ffffff;
    font-weight: bold;
    text-align: right;
}

.title_pro {
    color: #000000px;
    text-align: center;
    font-weight: bold;
}

.next {
    color: #000000px;
}

.moreview {
    font-size: 11px;
    color: #FF9B00;
}

    .moreview:hover {
        font-size: 11px;
        color: #FF9B00;
        text-decoration: underline;
    }

.marque {
    color: #000000;
    text-align: left;
}

.date {
    color: #7F7D7D;
    text-align: left;
}

.new_brief {
    color: #3E3E3E;
    text-align: left;
}

.top {
    color: #FFFFFF;
    text-decoration: none;
}

    .top:hover {
        color: #FFFFFF;
        text-decoration: none;
    }

.button_search {
    background: url(../imageN/Index2_139.gif);
    background-repeat: repeat-x;
    color: #FFFFFF;
    font-weight: bold;
    height: 25px;
    border: 0px;
}

.botton {
    color: #000000;
}

.info_giaovien {
    color: #3E3E3E;
    text-align: left;
}

.title_chitiet {
    color: #0D8B91;
    text-align: left;
    font-weight: bold;
}

.logout {
    color: #4C4C4C;
    font-weight: bold;
}

.logout1 {
    color: #ffffff;
    font-weight: bold;
}

    .logout1:hover {
        color: #ffffff;
        font-weight: bold;
        text-decoration: underline;
    }

.wrapper {
    /*background-image: url(../images/bg_body.gif);
    background-repeat:repeat-x repeat-y;*/
    width: 1000px;
    margin: 0 auto 10px auto;
    text-align: left;
    position: relative;
}

.mainContentBG {
    /*background-image: url(../images/bg_body.gif);background-repeat:repeat-x repeat-y;*/
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: auto;
}

.slides_container {
    width: 100%;
    border: 0;
}

.slide {
    height: 228px;
    background-color: #FFFFFF;
}

div#slideShowItems {
    background-color: White;
    height: 215px;
    overflow: hidden;
    position: relative;
}

    div#slideShowItems div {
        width: 700px;
    }


    div#slideShowItems img {
        margin-right: 13px;
        float: left;
    }

ul#slideShowCount {
    margin: 0px;
    padding: 0px;
    width: 700px;
}

    ul#slideShowCount li.slide {
        line-height: 14px;
        float: right;
        cursor: pointer;
        width: 26px;
        height: 18px;
        display: block;
        background: transparent url(imageN/tab.png) no-repeat scroll left top;
    }

        ul#slideShowCount li.slide span {
            padding-left: 10px;
            color: white;
            font-weight: bold;
            font-size: 12px;
        }

        ul#slideShowCount li.slide:hover {
            background-position: left -18px;
        }

        ul#slideShowCount li.slide.selectedTab {
            background-position: left -18px;
        }

div#slideShow {
    background: #222;
    width: 700px;
}
/*Login*/
/* Requires: Twitter Bootstrap CSS and JS*/

#login {
    align-content: center;
    width:500px;
    height:300px;
    margin-top: 10%;
    box-shadow: 0 0 18px #ccc;
}
