
@{
    ViewBag.Title = "ChonMonHoc";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<h2>Chọn môn học để đánh giá</h2>

<!-- /.row -->
<!-- Projects Row -->

<div class="row">
    @if (Session["user"] != null)
    {
        foreach (var item in ViewBag.Students)
        {
            <div class="col-md-4 portfolio-item">
                <a href="@Url.Action("MonHoc", new { id = item.ClassID })">
                    <img class="img-responsive" src="http://image.prntscr.com/image/356ac701d9594013bd201a0b0ff0bc8d.jpg" alt="">
                </a>
                <h3>
                    <a href="@Url.Action("MonHoc", new { id = item.ClassID })">
                        @item.ClassID
                    </a>
                </h3>
                <p></p>
            </div>
        }
    }

</div>